/* HEADER SECTION */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #212b38;
    color: #fff;
}

.logo-section {
    margin-right: 20px;
}

.logo {
    width: 50px;
    height: auto;
    border-radius: 60%;
}

.header-title {
    margin: 0;
}

body {
  background-color: #1e1e5d; 
}

  /* INFORMATION SECTION */
  .users{
    display: flex;
    width: 100%;
  }
  .users .card{
    width: 25%;
    margin: 10px;
    background: #37465b;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 10px #1f2833;
  }
  .users .card img{
    width: 150px;
    height: 150px;
    margin-top: 25px;
    border-radius: 50%;
  }
  .users .card h4{
    font-size: 20px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: -55px;
    text-transform: absolute;
    color: #fafafa;
  }
  .users table{
    margin: auto;
  }
  .users .per span{
    padding: 5px;
    border-radius: 10px;
    background: rgb(13, 2, 132);
  }
  .users .card button{
    width: 100%;
    margin-top: 8px;
    color: #fcfcfc;
    padding: 7px;
    cursor: pointer;
    border-radius: 10px;
    background: transparent;
    border: 1px solid #ffffff;
    margin-top: 20%;
    margin-bottom: 0%;
  }
  .users .card button:hover{
    background: #0208b5;
    color: #fff;
    transition: 0.5s;
  }

  

  
